@model IEnumerable<ProyectoHospitalMCV.Models.cita>

@{
    ViewBag.Title = "Index";
}

<h2>Gestión de citas</h2>

<p>
    @Html.ActionLink("Agendar cita", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.fecha)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.hora)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.medico.nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.paciente.nombre)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.fecha)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.hora)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.medico.nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.paciente.nombre)
        </td>
        <td>
            @Html.ActionLink("Editar", "Edit", new { id=item.idCita }) |
            @Html.ActionLink("Detalles", "Details", new { id=item.idCita }) |
            @Html.ActionLink("Eliminar", "Delete", new { id=item.idCita })
        </td>
    </tr>
}

</table>
